@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

nav a {
  @apply text-gray-300 hover:text-blue-400 transition-colors;
}

#about a {
  @apply text-blue-300! hover:text-blue-600! transition-colors;
}

#contact a {
  @apply w-12 h-12 flex items-center justify-center bg-gray-800 hover:bg-blue-500 rounded-full transition-all text-xl hover:rotate-45;
}
